.not-found {
  margin-top: 100px;
  text-align: center; }

.not-found p {
  font-size: 60px;
  font-family: Geneva, Arial, Helvetica, sans-serif; }

.not-found a {
  font-size: 20px;
  text-decoration: underline;
  font-family: Geneva, Arial, Helvetica, sans-serif; }
